
*{
    margin: 0;
    padding: 0;

}
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lato:ital,wght@0,400;1,300&family=Montserrat:ital,wght@0,700;1,700&family=Quicksand:wght@300;400;500;600;700&family=Ubuntu&display=swap');
body{
    width: 1368px;
height: 6592px;
    font-weight: 500;
    font-family: "Quicksand";
 

}
.header{
    padding: 32px 37px;
    margin: o auto;
    max-width: 1296px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    color: #000;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 38.4px */
letter-spacing: 0.64px;
text-decoration: none;
}
.form {
    position: relative;

}
.form__button{
    display: block;
    width: 36px;
    height: 36px;
     background-repeat: no-repeat;
    background-image: url(img.jpg/group.svg) ;
    background-size: 16px 16px;
   background-position: center;
    background-color:#0F8277;
    border-radius: 1px solid #5C5C5C;
color:#000 ;
position: absolute;
top: calc(50% - 18px );
right: 0;

}
.form__input::placeholder{
    color: #5C5C5C;
font-size: 16px;
font-style: normal;
line-height: 1.2;
}
.form__input{
    display: flex;
    width: 330px;
    height: 36px;
justify-content: space-between;
    border-radius: 4px;
border: 1px solid #5C5C5C;
padding-left: 12px;
outline: none;


}
.button_link{
    display: block;
    /* border-radius: 4px; */
    align-items: center;
background: #0F8277;
color: #fff;
width: 200px;
height: 39px;
border: none;
position: relative;
appearance:none; 
outline: none;
}

.submenu {
    display:block;
width: 384px;
padding: 16px 12px 33px 12px;
flex-direction: column;
align-items: center;
text-align: start;
background: #FFF;
color: #000;
box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);


}

.nav__item_1{
    display: block;
    font-family: var(--font-family);
    position: relative;
font-weight: 700;
font-size: 16px;
line-height: 120%;
text-align: center;
color: #eee;
align-items: center;
justify-content: center;

}
.nav__item {
    display: block;
padding: 20px;
text-align: start;

}

.first_child{
    display: flex;
    padding-top: 80px;
    font-weight: 700;
    display: block;
    border-top: 1px solid #000;
    font-family: var(--font-family);
font-weight: 700;
font-size: 16px;
line-height: 120%;
color: #000;
padding-top: 20px auto;
}
.header__list{
    display: flex;
    gap: 20px;
   

}
.header_login{
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 16px;
   
}
.header__link{
    color: #0F8277;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
width: 57px;
align-items: center;
    
    
}
.header__link__color{
background: #0F8277;
color: #fff;
padding: 10px 12px;

}
/*  */
.conteiner{
    margin: 0 37px;
    max-width: 1296px;
    height: 602px;
    border-radius: 12px;
    background: hsl(165, 50%, 91%);
}
.wrapp{
    margin: 37px;
}
.main{
    display: flex;
    justify-content: space-between;
    
}
.main_text{
   display: block;
    flex-basis: 512px;
    align-items: flex-start;
    padding-top: 160px;
    padding-left: 110px;

}
.main_title{
    font-size: 50px;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 32px;

}
.main_desc{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5;
    padding-bottom: 32px;
   
}
.main_btn{
    font-size: 16px;
    border-radius: 4px;
border: 2px solid #0F8277;
    padding: 10px 12px;
    text-decoration: none;
    color: #0F8277;
    
}
.main_btn_color{
background: #0F8277;
color: #fff;
width: 132px;
height: 39px;
margin-right: 8px;
}
.main__image {
    background-image: url(img.jpg/hero-img.png);
    background-repeat: no-repeat;
    background-position:center;
    width: 800px;
    height: 533px ;
    margin-top: 39px;
    margin-bottom: 30px;

}
.main_img{
    width: 100%;
}

/*  */
.text{
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 80px;
}
.title{
    color: #000;
    font-family: Quicksand;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
}
.desc{
    color: #000;
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.card{
 display: flex;

 justify-content: space-between;
 margin-top: 40px;
 gap: 15px;

}
.card_item {  
border-radius: 4px;
border: 1px solid #efefef;
width: 100%;
height: 480px;
padding: 40px auto;
}
.card_img {
width: 100%;

     
}
.card_info{
    display: flex;
    padding: 24px 16px;
/* width: 306px; */
height: 210px;
    flex-direction: column;

    padding: 24px 16px;


}
.card_nick{
    display:inline;
    color: #000;
    align-items: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;

}
.card_name{
    display: block;
    color: #000;
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 1.2;
margin-top: 16px;
}
.card_diploma{
    display: inline-block;
    justify-content: end;
    align-items: center;
    color: #0F8277;
font-family: Quicksand;
font-size: 16px;
font-weight: 500;
line-height: 1.5;


}
.more{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0F8277;
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 1.2;
margin-top: 40px;
gap: 8px;
}
/* category */

.category{
   display: flex; 
   flex-direction: column;
   width: 100%;
   padding: 40px 36px;
}
.category_title{
    display: block;
    color: #000;
font-family: Quicksand;
font-size: 40px;
font-weight: 700;
}
.category_link{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 40px ;

}
.category_items{
    display: block;
    margin: 32px auto ;
}
.category_items.category_items_first{
    display: block;
    color: #000;
font-family: Quicksand;
font-size: 24px;
font-weight: 700;
line-height: 1.2;
}


/* brend */
.brend{
    width: 1296px;
    margin: 40px 0;
 background: #DBF3ED;
 display: flex;
padding: 80px 36px;
flex-direction: column;
gap: 60px;

}
.brend_companies{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brend_title{
    display: block;
    color: #000;
text-align: center;
font-family: Quicksand;
font-size: 40px;
font-weight: 700;
line-height: 1.2;
}

/* business */
.business{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 1296px;
    height: 412px;
    gap: 72px;
    padding: 40px 36px ;

}
.business_text{
    display: flex;
    height: 692px;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-top: 40px ;
    width: 636px;
    gap: 32px;
}
.business_title{
    color: #000;
display: block;
font-family: Quicksand;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 1.2;
}
.business_desc{
    color: #000;
display: block;
font-family: Quicksand;
font-size: 22px;
font-weight: 500;
line-height: 1.2;
}
.business_btn_color{
    display: flex;
    width: 107px;
    height: 19px;
padding: 10px 12px;
gap: 10px;
border-radius: 4px;
background: #0F8277;
color: #EEE;
text-align: center;
font-family: Quicksand;
font-size: 16px;
line-height: 1.2;
font-weight: 700;
text-decoration: none;
}
.business_brend{
    display: block;
    text-align: center;
    justify-content: center;
    flex-basis: calc(100% - 636px - 72px);
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,  1fr);
    padding: 40px auto;
 

}

.business_item_1{
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
    width: 196px;
height: 136px;
padding: 10px;

    
    
}
.business_item_2{
    border-bottom: 1px solid #BABABA;
    width: 196px;
height: 136px;
padding: 10px;


}
.business_item_3{
    border-bottom: 1px solid #BABABA;
border-left: 1px solid #BABABA;
width: 196px;
height: 136px;
padding: 10px;


}
.business_item_4{
    border-right: 1px solid #BABABA;
    width: 196px;
height: 136px;
padding: 10px;
}
.business_item_5{
    border: 0px solid #BABABA;
    width: 196px;
height: 136px;
padding: 10px;
}
.business_item_6{
    border-left: 1px solid #BABABA;
    width: 196px;
height: 136px;
padding: 10px;
}
.business_item_7{
    border-top: 1px solid #BABABA;

border-right: 1px solid #BABABA;
width: 196px;
height: 136px;
padding: 10px;
}
.business_item_8{
    border-top: 1px solid #BABABA;
    width: 196px;
height: 136px;
padding: 10px;
}
.business_item_9{
    border-top: 1px solid #BABABA;

border-left: 1px solid #BABABA;
width: 196px;
height: 136px;
padding: 10px;
}

.plan_wrapp{
display: flex;
flex-direction: column;
background: #dbf3ed;
padding: 80px 36px 100px 36px;
width: 1296px;
margin: 80px auto;

}
.plan_title{
    display: block;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    margin: 40px auto;
font-weight: 700;
font-size: 40px;
line-height: 120%;
text-align: center;
color: #000;
}
.plan-content{
    display: flex;
    justify-content: space-between;

}
.plan-card{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid #0f8277;
    border-radius: 24px;
    padding: 56px;
    width: 300px;
    background: #fdfdfd;
    gap: 27px;

}

.plan-header{
display: block;
font-family: var(--font-family);
font-weight: 700;
font-size: 24px;
line-height: 120%;
text-align: center;
color: #000;
}
.plan-price{
display: block;
font-family: var(--font-family);
font-weight: 700;
font-size: 40px;
line-height: 120%;
text-align: center;
color: #000;
}
.plan-time{
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 120%;
text-transform: uppercase;
color: #000;

}
.plan-desc{
display: block;
flex-direction: column;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 120%;
text-align: center;
color: #000;
text-align: left;


}

.border{
    border-top: 1px solid #0f8277;

    margin: 48px 0;
}
.plan-icon{

    margin-right: 16px;
}
.plan-button{

border-radius: 4px;
padding: 10px 12px;
width: 119px;
background: #0f8277;
border: none;
font-family: var(--second-family);
font-weight: 500;
font-size: 18px;
color: #f6fdff;
margin: 20px;
margin-left: 90px;
}


/* students */
.students{
    color: #000;
text-align: center;
font-family: Quicksand;
font-size: 40px;
font-weight: 700;
line-height: 1.2;
margin: 40px auto;
}
.students_photo{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 306px 1fr);
    grid-template-rows: repeat(3,  1fr);
    gap: 24px;
    margin: 0;

}
.img__1{
    width: 306px;
height: 210.5px;
  grid-column: 1;  
}
.img__2{
    width: 306px;
height: 210.5px;
grid-row: 2;
}   
.img__3{
    width: 306px;
height: 210.5px;
grid-row: 3;
}
.img__4{
    width: 306px;
height: 210.5px;
grid-column: 2;
grid-row: 3;
}
.img__5{
    width: 306px;
height: 210.5px;
grid-column: 3;
grid-row: 3;
}
.img__6{
    width: 306px;
height: 210.5px;
grid-column: 4;
grid-row: 3;
}
.img__7{
    width: 306px;
height: 210.5px;
    grid-column: 4;
    grid-row: 2;
}
.img__8{
    width: 306px;
height: 210.5px;
    grid-column: 4;
    grid-row: 1;
}
.img__9{
    width: 636px;
height: 445px;
grid-column: 2 / span 2;
grid-row: 1 / span 2;

}
.form_wrapp{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1296px;
    padding: 0 36px;
height: 727px;
position: relative;
    background-image: url(img.jpg/image_32.jpg);
    background-repeat: no-repeat;
    background-clip: inherit;
    background-size: cover;
    opacity: 0.6;
    margin: 80px auto;

}
.form-content{
    display: flex;
    width: 505px;
padding: 30px;
flex-direction: column;
position:absolute;
gap: 24px;
 border-radius: 24px;
background: #DBF3ED;
}
.form-title{
    color: #000;
text-align: center;
font-family: Quicksand;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 1.2;
}
.form-text{
    color: #000;
text-align: center;
font-family: Quicksand;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
}
.name{
    display: block;
    color: #000;
font-family: Quicksand;
font-size: 22px;
font-weight: 600;
line-height: 24px;

}
.form-content::placeholder {
    display: block;
    color: #8E8E8E;
font-family: Quicksand;
font-size: 16px;
font-weight: 500;
}
input{
    display: flex;
    width: 481px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background-color: #fdfdfd;
    padding: 12px;
    outline: none;
    
}
textarea{
    display: flex;
    width: 481px;
    height: 80px;
    border-radius: 4px;
    border: 1px solid #0F8277;
    background-color: #fdfdfd;
    padding: 12px;
    outline: none;
}
.form-button{
    display: flex;
width: 196px;
padding: 10px 12px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: #0F8277;
border: none;
color: #fff;
}
.footer_wrapp{
    width: 1296px;
    height: 239px;
    display: flex;
    justify-content: space-between;
    padding: 64px 36px;
    
}
.footer-title{
    font-family: var(--font-family);
font-weight: 700;
font-size: 32px;
line-height: 120%;
letter-spacing:1.2;
color: #000;
margin-bottom: 16px;
}
.footer-text{
    font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 120%;
color: #000;

}
.footer_logo{
    display: flex;
    flex-direction: column;
    width: 306px;
height: 111px;

}
.footer_icons{
    display: inline;

    text-align: right;
   
} 
.footer-besc{
    margin-top: 60px;
}
   